<div class="Component ComponentId-Frame">
	
	<!-- The url where Bottom, Top, Left Right, Center, BottomRight, etc. exist. -->
    <div class="ComponentValue ComponentId-Base">/css/img/grayFrame/</div>
    
    <!-- The key for this image set; so we don't inject multiple times. -->
	<div class="ComponentValue ComponentId-Key">grayFrame</div>
	
	<!-- The extension for each of the sub images (eg. Bottom.png) -->
	<div class="ComponentValue ComponentId-Type">png</div>
	
	<!-- The size of the padding to use (ie. image size) -->
	<div class="ComponentValue ComponentId-Padding">40</div>
	
	<!-- Content to put a frame around. -->
	<div class="ComponentAsset ComponentId-Frame">
		...
	</div>
</div>