<!-- IE only supports inline block for inline block types like 'span tags. -->
<root>
	<table>
		<tbody>
			<tr>
				<td class="Component-Frame-TopLeft TopLeft"></td>
				<td class="Component-Frame-Top Top"></td>
				<td class="Component-Frame-TopRight TopRight"></td>
			</tr>
			<tr>
				<td class="Component-Frame-Left Left"></td>
				<td class="Component-Frame-Center Center">
				</td>
				<td class="Component-Frame-Right Right"></td>
			</tr>
			<tr>
				<td class="Component-Frame-BottomLeft BottomLeft"></td>
				<td class="Component-Frame-Bottom Bottom"></td>
				<td class="Component-Frame-BottomRight BottomRight"></td>
			</tr>
		</tbody>
	</table>
</root>
